@use '../utils/mixins' as *;

.document {
  scroll-behavior: smooth;
  font-family: Poppins, sans-serif;
  font-weight: 500;
}

body {
  margin: 0;
  background-color: #1d1d1d;
  color: #fff;
}

.footer-relative {
  position: relative;
  z-index: 2;
  background-color: #1d1d1d;
  padding-bottom: 120px;
}

.container {
  @include container;
}

.heading {
  font-size: 2rem;
  line-height: 1;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-style: normal;

  @include on-tablet {
    font-size: 3rem;
  }

  @include on-desktop {
    font-size: 4rem;
  }

  &--bold {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 140%;
    font-family: Poppins, sans-serif;
  }
}

.description {
  font-size: 1rem;
  line-height: 140%;
  font-weight: 400;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
