@use '../utils/mixins' as *;
@use '../utils/var' as *;

.bikes__compare--external {
  margin-top: $p-15;

  @include on-tablet {
    margin-top: 120px;
  }
}

.bikes-compare {
  display: flex;
  flex-direction: column;

  @include content-padding-inline;

  &__intro {
    margin-bottom: 92px;
    margin-inline: 0;

    @include on-tablet {
      display: flex;
      align-items: start;
      gap: 62px;
      margin-bottom: 132px;
    }

    @include on-desktop {
      margin-bottom: 164px;
    }
  }


  &__image {
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__title {
    @include on-tablet {
      white-space: nowrap;
      gap: 62px;
    }

    @include on-desktop {
      width: 412px;
    }
  }

  &__card-title {
    text-align: center;
    margin-bottom: $p-12;

    @include on-desktop {
      margin-bottom: 56px;
    }
  }

  &__info {
    margin-top: $p-8;
    font-size: 1.5rem;
    line-height: 140%;
    font-weight: 500;
    max-width: 500px;

    @include on-tablet {
      margin-top: 0;
    }
  }

  &__container {
    @include on-desktop {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: $p-6;
      margin: 0 auto;
      justify-content: center;
    }
  }

  &__heading {
    margin-top: $p-8;
  }

  &__description {
    margin-top: $p-2;
  }

  &__price {
    display: inline-block;
    margin-top: $p-4;
  }
}
