@use '../utils/mixins' as *;
@use '../utils/var' as *;

.contact--external {
  margin-top: 80px;

  @include on-tablet {
    margin-top: 120px;
  }

  @include on-desktop {
    margin-top: 180px;
  }
}

.contact {
  @include content-padding-inline;

  &__container {
    width: 280px;
    margin: 0 auto;

    @include on-tablet {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: $p-6;
      max-width: 1024px;
    }

    @include on-desktop {
      display: flex;
      width: 1024px;
      margin: 0 auto;
      gap: 198px;
    }
  }

  &__heading {
    text-align: center;
    margin-bottom: $p-12;
  }

  &__input {
    width: 278px;
    height: 48px;
    border-radius: $base-radius;
    margin-bottom: $p-4;
    background-color: #fff;
    padding-left: $p-4;
    color: #292929;

    &:hover::placeholder {
      color: #292929;
      transition: color 0.3s;
    }

    &:focus::placeholder {
      opacity: 0;
    }

    @include on-tablet {
      width: 288px;
    }

    @include on-desktop {
      width: 412px;
    }
  }

  &__message {
    width: 278px;
    height: 148px;
    border-radius: 16px;
    padding: 14px 0 0 16px;
    margin-bottom: $p-8;
    color: #292929;
    background-color: #fff;

    @include on-tablet {
      width: 288px;
    }

    @include on-desktop {
      width: 412px;
    }
  }

  &__button {
    margin-bottom: $p-12;

    @include on-tablet {
      width: 288px;
      margin-bottom: 0;
    }

    @include on-desktop {
      width: 412px;
    }
  }

  &__info-label {
    display: block;
    margin-bottom: $p-2;

    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
  }

  &__info-value {
    display: inline-block;
    margin-bottom: $p-6;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
  }

  &__info-value:last-child {
    margin-bottom: 0;
  }
}
