@use '../utils/mixins' as *;
@use '../utils/var' as *;

.details--external {
  margin-top: 92px;
}

.details {
  @include content-padding-inline;

  &__feature {
    max-width: 100%;
    margin: 0 auto;
  }

  &__heading {
    margin-bottom: $p-12;
    text-align: center;
  }

  &__image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: $p-5;
  }

  &__image {
    min-width: 130px;

    margin-bottom: $p-4;
    object-fit: cover;
    flex-grow: 1;
  }

  &__feature-name {
    display: flex;
    margin-bottom: $p-2;
  }

  &__description {
    margin-bottom: $p-10;
  }

  &__explore {
    display: flex;
    justify-self: center;
    justify-content: center;
  }

  @include on-tablet {
    &__feature {
      max-width: 100%;
    }

    &__image-container {
      gap: $p-6;
    }

    &__image--short {
      min-width: 184px;
      min-height: 187px;
    }

    &__image--wide {
      min-width: 392px;
      min-height: 187px;
    }
  }

  @include on-desktop {
    &__image-container {
      gap: $p-6;
    }

    &__image--short {
      min-width: 324px;
      min-height: 320px;
    }

    &__image--wide {
      min-width: 672px;
      min-height: 320px;
    }
  }
}
