@use '../utils/mixins' as *;

.footer--explore {
  margin-top: 120px;

  @include on-tablet {
    margin-top: 102px;
  }

  @include on-desktop {
    margin-top: 164px;
  }
}

.footer {
  width: 100%;
  aspect-ratio: 1260 / 555;

  background-image: url(../images/footer-img.jpg);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
}
