@use '../utils/mixins' as *;
@use '../utils/var' as *;

.footer {
  position: sticky;
  z-index: 1;
  bottom: 0;

  height: $footer-height-sm;

  background-image: url('../images/footer-img.jpg');
  background-size: cover;

  @include on-tablet {
    height: $footer-height-md;
  }

  @include on-desktop {
    height: $footer-height-lg;
  }
}
