.logo {
  width: 130px;
}

.header {
  width: 100%;

  &__menu {
    display: flex;
    gap: 24px;
    height: 32px;

    // &__content {
    //   display: flex;
    //   justify-content: space-between;
    //   width: 100%;
    // }
    @media (min-width: 744px) {
      gap: 32px;
    }
  }
}
