.hero {
  background-image: url(/src/images/mikkel-bech-yjAFnkLtKY0-unsplash\ 2.svg);
  min-height: 70vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: stretch;

  &-heading {
    display: block;
    width: 100%;
    text-align: center; 
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 88px;

  @media (min-width: 744px) {
    font-size: 4rem;  
  }
  }

  &--hidden {
    display: none;
  }
}

