@use '../utils/mixins' as *;

.hero {
  background-image: url(../images/hero-img.jpg);
  min-height: 480px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: stretch;

  @include on-tablet {
    height: 100vh;
  }

  &-heading {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 88px;

    @include on-tablet {
      font-size: 4rem;
    }

    @include on-desktop {
      font-size: 5rem;
    }
  }

  &--hidden {
    display: none;
  }
}
