@use '../utils/mixins' as *;

.logo {
  @include hover(transform, scale(1.2));
}

.icon {
  padding: 15px;
  margin: -15px;
  display: inline-block;

  &__img {
    height: 24px;
    width: 24px;
    
    @media (min-width: 744px) {
      height: 32px;
      width: 32px;
    }
  }

  @include hover(transform, scale(1.2));
}

.box {
  position: relative;
  height: 100px;
  width: 100px;
  background-color: green;
  transition: transform 0.3s ease;
}

.box:hover {
  transform: scale(1.2);
}
