@use '../utils/mixins' as *;
@use '../utils/var' as *;

.top-bar {
  position: absolute;
  right: 0;
  left: 0;
  display: flex;
  padding: $p-6 0;
  margin: 0 auto;

  @include content-padding-inline;

  @include on-tablet {
    padding: $p-9 72px;
  }

  @include on-desktop {
    padding: $p-9 120px;
  }

  justify-content: space-between;
  align-items: center;

  &__img {
    height: 24px;
    width: 24px;

    @include on-tablet {
      height: 32px;
      width: 32px;
    }
  }
}
