$p-1: 4px;
$p-2: 8px;
$p-3: 12px;
$p-4: 16px;
$p-5: 20px;
$p-6: 24px;
$p-7: 28px;
$p-8: 32px;
$p-9: 36px;
$p-10: 40px;
$p-11: 44px;
$p-12: 48px;
$p-13: 52px;
$p-14: 56px;
$p-15: 60px;
$p-16: 64px;
$tablet-min-width: 744px;
$desktop-min-width: 1260px;
$padding-mobile: $p-5;
$padding-tablet: 72px;
$padding-desktop: 120px;
$base-radius: 40px;
$accent-gray: #1d1d1d;
$light-gray: #7e7e83;
$dark-text-color: #1d1d1d;
$footer-height-sm: 200px;
$footer-height-md: 480px;
$footer-height-lg: 555px;
